.container {
    width: 508px;
    height: 107px;
    margin-left: auto;
}

.container {
    display: flex;
}

.container p {
    margin: 0;
}

.container h4 {
    margin: 0;
}

.main-container {
    display: flex;
    border: 2px solid #1C2B35;
    border-radius: 10px;
    margin-bottom: 15px;
}

.cart-img {
    margin: 8px;
}

.cart-img img {
    border-radius: 8px;
}

.cart-info {
    margin: auto 0;
}

.btn-info {
    margin: auto 10px;

}

.trash {
    color: #EB5757;
}

.trash-container {
    background-color: #e39494;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}